<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Vaccination</title>
    <link th:href="@{/style/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="fragments/utils.html :: navigation"></div>

<h4>Dodaj szczepienie</h4>
<br>

<div class="container">
    <form th:action="@{/vaccination}" th:object="${newVaccination}" method="post">
        <div class="row">
            <div class="col-2">
                Pacjent :
            </div>
            <div class="col-4">
                <select th:field="*{patientId}" class="form-select form-select-sm"
                        aria-label=".form-select-sm example">
                    <option th:each="opt : ${patients}" th:text="${opt.text}" th:value="${opt.id}"></option>
                </select>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-2">
                Typ :
            </div>
            <div class="col-4">
                <select th:field="*{vacType}" class="form-select form-select-sm"
                        aria-label=".form-select-sm example">
                    <option th:each="opt : ${types}" th:text="${opt.text}" th:value="${opt.id}"/>
                </select>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-2">
                Data :
            </div>
            <div class="col-4">
                <input type="date" th:field="*{date}"
                       placeholder="Podaj datę " class="form-control"/>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-2">
                Placówka :
            </div>
            <div class="col-4">
                <select th:field="*{address}" class="form-select form-select-sm"
                        aria-label=".form-select-sm example">
                    <option th:each="opt : ${facilities}" th:text="${opt.text}" th:value="${opt.id}"/>
                </select>
            </div>
        </div>

        <br>

        <div class="container">
            <div class="row">
                <div class="offset-3">
                    <input type="submit" value="Zapisz" class="btn btn-primary">
                    <input type="reset" class="btn btn-primary"/>
                </div>
            </div>

            <span class="text-danger" th:if="${#fields.hasErrors('patientId')}"
                  th:text="${#fields.errors('patientId')}"></span><br>
            <span class="text-danger" th:if="${#fields.hasErrors('vacType')}"
                  th:text="${#fields.errors('vacType')}"></span><br>
            <span class="text-danger" th:if="${#fields.hasErrors('date')}"
                  th:text="${#fields.errors('date')}"></span><br>
            <span class="text-danger" th:if="${#fields.hasErrors('address')}"
                  th:text="${#fields.errors('address')}"></span><br>

            <span class="text-danger" th:if="${#fields.hasGlobalErrors()}"
                  th:text="${#fields.globalErrors()}"></span><br>
        </div>
    </form>
</div>


<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-6">-->

<!--            <form th:action="@{/vaccination}" th:object="${newVaccination}" method="post">-->
<!--                <div class="form-group">-->
<!--                    <label for="patient">Pacjent</label>-->
<!--                    <select th:field="*{patientId}" id="patient" class="form-select form-select-lg mb-3"-->
<!--                            aria-label=".form-select-lg example"-->
<!--                            aria-describedby="patientIdError">-->
<!--                        <option disabled selected value = ""></option>-->
<!--                        <option th:each="opt : ${patients}" th:text="${opt.text}" th:value="${opt.id}"/>-->
<!--                    </select>-->
<!--                    <small th:if="${#fields.hasErrors('patientId')}" id="patientIdError" class="form-text text-danger">-->
<!--                        <span th:text="${#fields.errors('patientId')}"></span>-->
<!--                    </small>-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="typ">Typ</label>-->
<!--                    <select th:field="*{vacType}" id="typ" class="form-select form-select-lg mb-3"-->
<!--                            aria-label=".form-select-lg example"-->
<!--                            aria-describedby="typError">-->
<!--                        <option th:each="opt : ${types}" th:text="${opt.text}" th:value="${opt.id}"/>-->
<!--                    </select>-->
<!--                    <small th:if="${#fields.hasErrors('patientId')}" id="typError" class="form-text text-danger">-->
<!--                        <span th:text="${#fields.errors('patientId')}"></span>-->
<!--                    </small>-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="date">Data</label>-->
<!--                    <input type="date" th:field="*{date}"-->
<!--                           id="date" placeholder="Podaj datę " class="form-control"-->
<!--                           aria-describedby="dateError"/>-->
<!--                    <small th:if="${#fields.hasErrors('date')}" id="dateError" class="form-text text-danger">-->
<!--                        <span th:text="${#fields.errors('date')}"></span>-->
<!--                    </small>-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="facility">Placówka</label>-->
<!--                    <select th:field="*{address}" id="facility" class="form-select form-select-lg mb-3"-->
<!--                            aria-label=".form-select-lg example"-->
<!--                            aria-describedby="facilityError">-->
<!--                        <option th:each="opt : ${facilities}" th:text="${opt.text}" th:value="${opt.id}"/>-->
<!--                    </select>-->
<!--                    <small th:if="${#fields.hasErrors('address')}" id="facilityError" class="form-text text-danger">-->
<!--                        <span th:text="${#fields.errors('address')}"></span>-->
<!--                    </small>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div th:replace="fragments/utils.html :: footer"></div>
</body>
</html>