<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Vaccintation</title>
  <link th:href="@{/style/main.css}" rel="stylesheet"/>
  <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>

</head>
<body>
<div th:replace="fragments/utils.html :: navigation"></div>

<p>Niestety coś poszło nie tak, spróbuj ponownie</p>

<div th:replace="fragments/utils.html :: footer"></div>
</body>
</html>