<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facilities</title>
    <link th:href="@{/style/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="fragments/utils.html :: navigation"></div>

<table id="myTable" class="table table-bordered table-dark">
    <thead>
    <tr>
        <th rowspan="2">Lp.</th>
        <th>Nazwa</th>
        <th>Adres</th>
        <th>Telefon</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="facility, iterator : ${facilities}" th:class="${iterator.odd ? 'odd' : 'even'}"
        th:include="fragments/facilitiesTable.html :: facilityRow(facility, iterator)">
    </tr>
    </tbody>

</table>

<script>
    function editFacility(facilityId) {
        window.location.assign("http://localhost:8080/facility/edit/" + facilityId)
    }

    function deleteFacility(facilityId) {
        let r = confirm("Usunąć placówkę?");
        if (r === true) {
            window.location.assign("http://localhost:8080/facility/delete/" + facilityId)
        } else {
            alert("Placówka nie była usunięta")
        }
    }

</script>

<div th:replace="fragments/utils.html :: footer"></div>

</body>
</html>