<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vaccintation</title>
    <style>
        table {
            border-spacing: 0px;
        }

        td {
            border: 1px solid black;
            margin: 0;
            padding: 0;
        }

        .odd {
            background-color: green;
        }

        .even {
            background-color: greenyellow;
        }
        .editButton {
            background-color: white;
            border: none;
            padding: 3px;
        }
    </style>
</head>
<body>
<table id="myTable">
    <thead>
    <tr>
        <td rowspan="2">Lp.</td>
        <td>Imię</td>
        <td>Nazwisko</td>
        <td>PESEL</td>
        <td>Data zaplanovanej szczepionki</td>
        <td>Adresa placówki</td>
        <td>Typ szczepionki</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient, iterator : ${patients}" th:class="${iterator.odd ? 'deleteRow odd' : 'deleteRow even'}">
        <td><span th:text="${iterator.count}"></span></td>
        <td><span th:text="${patient.firstName}"></span></td>
        <td><span th:text="${patient.lastName}"></span></td>
        <td><span th:text="${patient.pesel}"></span></td>
        <!--            <td th:if="${patient.plannedVacs.size() > 0}"-->
        <!--                th:each="plannedVac, it : ${patient.plannedVacs}">-->
        <!--                <span th:text="${plannedVac.date}" ></span>-->
        <!--            </td>-->
        <!--            <td th:if="${patient.plannedVacs.size() > 0}"-->
        <!--                th:each="plannedVac, it : ${patient.plannedVacs}">-->
        <!--                <span th:text="${plannedVac.address}" ></span>-->
        <!--            </td>-->
        <!--            <td th:if="${patient.plannedVacs.size() > 0}"-->
        <!--                th:each="plannedVac, it : ${patient.plannedVacs}">-->
        <!--                <span th:text="${plannedVac.vacType}" ></span>-->
        <!--            </td>-->
        <!--            <td th:unless="${patient.plannedVacs.size() > 0}" colspan="4">-->
        <!--                Brak zaplanowanych szczepień-->
        <!--            </td>-->
        <td th:if="${patient.plannedVacs.size() > 0}" style="text-align: center">
            <table>
                <tr th:each="plannedVac : ${patient.plannedVacs}">
                    <td><span th:text="${plannedVac.date}"></span></td>
                </tr>
            </table>
        </td>
        <td th:if="${patient.plannedVacs.size() > 0}" style="text-align: center">
            <table>
                <tr th:each="plannedVac : ${patient.plannedVacs}">
                    <td><span th:text="${plannedVac.address}"></span></td>
                </tr>
            </table>
        </td>
        <td th:if="${patient.plannedVacs.size() > 0}" style="text-align: right">
            <table>
                <tr th:each="plannedVac : ${patient.plannedVacs}">
                    <td><span th:text="${plannedVac.vacType}"></span></td>
                </tr>
            </table>
        </td>
        <td th:unless="${patient.plannedVacs.size() > 0}" colspan="4" >
            Brak zaplanowanych szczepień
        </td>
        <td class="editButton">
            <input type="button" value="Edit" onclick="editUser()">
            <input type="button" value="Delete" onclick="deleteUser()">
        </td>
    </tr>
    </tbody>

</table>

<input type="button" value="Home" onclick="goHome()">
<script>
    function goHome() {
        window.location.assign("http://localhost:8080/")
    }

    function editUser() {
        window.location.assign("http://localhost:8080/")
    }

    function deleteUser() {
        var r = confirm("Usunąć pacjenta?");
        if (r === true) {
            myTable.addEventListener('click', function(evt){
                if(evt.target.closest('.deleteRow')) {
                    evt.target.closest('tr').remove()
                }
            })
            alert("Pacjent został usunięty")

        } else {
            alert("Pacjent nie był usunięty")
        }
    }
</script>

</body>
</html>