<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vaccination</title>
    <style>
        table {
            border-spacing: 0;
        }

        td {
            border: 1px solid black;
            margin: 0;
            padding: 0;
        }

        .odd {
            background-color: green;
        }

        .even {
            background-color: greenyellow;
        }

        .editButton {
            background-color: white;
            border: none;
            padding: 3px;
        }
    </style>
</head>
<body>

<div th:replace="fragments/utils.html :: navigation"></div>

<table id="myTable">
    <thead>
    <tr>
        <td rowspan="2">Lp.</td>
        <td>Imię</td>
        <td>Nazwisko</td>
        <td>PESEL</td>
        <td>Data zaplanovanej szczepionki</td>
        <td>Adresa placówki</td>
        <td>Typ szczepionki</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient, iterator : ${patients}" th:class="${iterator.odd ? 'odd' : 'even'}"
        th:include="fragments/patientsTable.html :: patientRow(patient, iterator)">
    </tr>
    </tbody>

</table>

<!--<input type="button" value="Home" onclick="goHome()">-->
<script>
    // function goHome() {
    //     window.location.assign("http://localhost:8080/")
    // }
    //
    function editUser(patId) {
        window.location.assign("http://localhost:8080/patient/edit/" + patId)
    }

    function deleteUser(userId) {
        let r = confirm("Usunąć pacjenta?");
        if (r === true) {
            window.location.assign("http://localhost:8080/patient/delete/" + userId)
        } else {
            alert("Pacjent nie był usunięty")
        }
    }

    function deleteVaccination(userId) {
        let r = confirm("Usunąć szczepienie?");
        if (r === true) {
            window.location.assign("http://localhost:8080/patient/deleteVaccination/" + userId)
        } else {
            alert("Szczepienie nie było usunięty")
        }
    }

    function addVaccination(userId) {
        let r = confirm("Dodać szczepienie?");
        if (r === true) {
            window.location.assign("http://localhost:8080/vaccination/")
        } else {
            alert("Szczepienie nie było dodane")
        }
    }

</script>

<div th:replace="fragments/utils.html :: footer"></div>
</body>
</html>