<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vaccination</title>
    <link th:href="@{/style/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="fragments/utils.html :: navigation"></div>

<table id="myTable" class="table table-bordered table-dark">
    <thead>
    <tr>
        <th rowspan="2" >Lp.</th>
        <th >Imię</th>
        <th >Nazwisko</th>
        <th >PESEL</th>
        <th >Data zaplanovanej szczepionki</th>
        <th >Adresa placówki</th>
        <th >Typ szczepionki</th>
        <th ></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient, iterator : ${patients}" th:class="${iterator.odd ? 'odd' : 'even'}"
        th:include="fragments/patientsTable.html :: patientRow(patient, iterator)">
    </tr>
    </tbody>

</table>

<script>
    function editUser(patId) {
        window.location.assign("http://localhost:8080/patient/edit/" + patId)
    }

    function deleteUser(userId) {
        let r = confirm("Usunąć pacjenta?");
        if (r === true) {
            window.location.assign("http://localhost:8080/patient/delete/" + userId)
        } else {
            alert("Pacjent nie był usunięty")
        }
    }

    function deleteVaccination(userId) {
        let r = confirm("Usunąć szczepienie?");
        if (r === true) {
            window.location.assign("http://localhost:8080/patient/deleteVaccination/" + userId)
        } else {
            alert("Szczepienie nie było usunięty")
        }
    }

    function addVaccination(userId) {
        let r = confirm("Dodać szczepienie?");
        if (r === true) {
            window.location.assign("http://localhost:8080/vaccination/")
        } else {
            alert("Szczepienie nie było dodane")
        }
    }

</script>

<div th:replace="fragments/utils.html :: footer"></div>
</body>
</html>