<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire</title>
    <link th:href="@{/style/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="fragments/utils.html :: navigation"></div>

  <table id = "myTable">
      <thead>
        <tr>
            <td rowspan="2">Lp.</td>
            <td>Zapytanie</td>
            <td>Odpowiedz</td>
        </tr>
      </thead>
      <tbody>
        <tr th:each="question : ${questionnaire}">
            <td><span th:text="${question.id}"></span></td>
            <td><span th:text="${question.question}"></span></td>
            <td><span th:text="${question.answer}"></span></td>
        </tr>
      </tbody>

  </table>

<div th:replace="fragments/utils.html :: footer"></div>
</body>
</html>